<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로직테스트</title>
  <script src="script.js" defer></script>
</head>
<body>
  <h1>잔여좌석 로직</h1>
  <h2>입력된 시간과 현재시간의 오차가 2분 이내이면 api, 그 이상이면 db를 통해 잔여좌석을 가져온다</h2>
  <h3>경기도 버스도착정보 api 사용, 명동입구, 기흥역, 순천향대학병원에 대한 5000a,b 정보 출력</h3>
  <form>
    <label for="dateInput">날짜:</label>
    <input type="date" id="dateInput" name="dateInput">
    <label for="timeInput">시간:</label>
    <input type="time" id="timeInput" name="timeInput">
    <label for="stationInput">정류장 검색:</label>
    <input type="text" id="stationInput" name="stationInput">
    <button type="button" onclick="search()">검색</button>
  </form>

  <p id="result"></p> 
</body>
</html>
